<div class="col-sm-3 col-md-6">
  <form class="jumbotron">
  <h3 >Nuovo Fiore</h3>
  <div>
    <label for="specie">Specie</label>
    <input name="specie" #newSpecie class="form-control">
  </div>
  <div>
    <label for="altezza">Altezza</label>
    <input name="altezza" #newAltezza class="form-control">
  </div>
  <div>
    <label for="colore">Colore</label>
    <input name="colore" #newColore class="form-control">
  </div>
  <div>
    <label for="periodo">Periodo fioritura</label>
    <input name="periodo" #newPeriodo class="form-control">
  </div>


  <button (click)="addFiore(newSpecie, newAltezza, newColore, newPeriodo)"  class="btn btn-primary">
  aggiungi
  </button>
</form>
</div>

